.idea
cmake-build-debug

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# threejs
node_modules
package-lock.json
js
bundle.js

*.a
*.o

# Visual Studio Code cache directory
.vscode
.vs
.DS_Store
environment/tests/gtest
*.lib
*.sln
*.vcxproj
*.filters
*.user
# binary file
photon