.idea
cmake-build-debug

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

*.a
*.o

# Visual Studio Code cache directory
.vscode
.vs
.DS_Store
environment/tests/simulators/Debug
*.sln
*.vcxproj
*.filters
*.user
# binary file
photon