.idea
cmake-build-debug

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

*.a
*.o

# Visual Studio Code cache directory
.vscode
.vs
.DS_Store
*.vcxproj
*.filters
*.sln
Debug
x64
photon.dir
*.user

# binary file
photon
